<!DOCTYPE html>
<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="row">
    Categories
    <hr />
  </div>
  <div class="row">
    <ul>
      <li th:each="category : ${categories}">
        <a th:href="@{'/category/' + ${category.id}} + '/edit'" th:text="${{category?.title}}">Text</a>
      </li>
    </ul>
  </div>
</div>
