<!DOCTYPE html>
<div class="container">
  <div class="row">
    <h3>Video form</h3>
    <hr />
    <div class="col-md-6">
      <form id="video-info" th:action = "@{/api/jsonVideos}"
            method="POST"
            xmlns:th="http://www.w3.org/1999/xhtml">

        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" th:value="${video?.title}" />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description"  th:inline="text">
            [[${video?.description}]]
          </textarea>
        </div>

        <div class="form-group">
          <label for="url">Url</label>
          <input type="text" class="form-control" id="url" name="url" th:value="${video?.url}" />
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" name="category" id="category">
            <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.title}" th:selected="${video?.category?.id == c.id}"></option>
          </select>
        </div>

        <div class="video-tags" style="margin-bottom: 10px;" th:if="${video != null}">
          <span class="badge badge-success" th:each="tag : ${video.tags}" th:inline="text">
            [[${{tag.name}}]]
            <button type="button" class="btn btn-default btn-sm" th:onclick="'removeTag(\'' + ${video.id} + '\', \'' + ${tag.name} + '\')'">
              <span class="glyphicon glyphicon-remove-circle" style="color: #940000;"></span>
            </button>
          </span>
        </div>

        <div class="input-group" style="margin-bottom: 10px;" th:if="${video != null}">
          <input type="text" class="form-control" placeholder="Tag name" id="tag-input"/>

          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" th:onclick="'addTag(\'' + ${video?.id} + '\')'">Add tag!</button>
          </span>
        </div>

        <button type="button" th:onclick="'submitForm(\''+ ${video?.id} + '\')'" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>

  </div>
</div>
